@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
  "liga" 1,
  "calt" 1, /* Contextual Alternates */
  "dlig" 1, /* Discretionary Ligatures */
  "ss07" 1, /* fSquare punctuation */
  "ss08" 1, /* Square quotes */
  "zero" 1, /* Slashed zero */
  "tnum" 1, /* Tabular numbers */
    "cv03" 1, /* Open six */
    "cv04" 1, /* Open nine */
    "cv01" 1, /* Alternate one */
    "cv09", /* Flat-top three */
    "cv02" 1; /* Open 4 */
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

:root {
 --astro-code-token-link: theme(textColor.white);
  --astro-code-token-keyword: theme(textColor.black);
  --astro-code-token-function: theme(textColor.black);
  --astro-code-token-parameter: theme(textColor.white);
  --astro-code-color-text: theme(textColor.neutral.600);
  --astro-code-token-punctuation: theme(textColor.white);
  --astro-code-token-string: theme(textColor.neutral.800);
  --astro-code-token-comment: theme(textColor.neutral.400);
  --astro-code-token-constant: theme(textColor.neutral.700);
  --astro-code-color-background: theme(backgroundColor.white);
  --astro-code-token-string-expression: theme(textColor.accent.600);
}

.prose-styles {
  @apply prose text-sm mt-8 font-serif text-zinc-700 font-normal prose-a:text-zinc-700 prose-a:no-underline prose-a:font-serif prose-a:italic  prose-headings:text-base prose-headings:font-medium prose-headings:font-sans prose-headings:uppercase prose-headings:tracking-tighter hover:prose-a:text-accent-600
}